.panel_item {
    background: #607488bb;
    margin-bottom: 10px;
    user-select: none;
    vertical-align: middle;
}

.panel_item:hover {
    background: #607488ee;
}

.panel_item:active {
    background: #607488ff;
}